.tooltip {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--colorBgSlave);
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: solid 0.3em;
    transition: visibility 1s, opacity 1s ease;
    visibility: hidden;
    opacity: 0;
}

.tooltip.active {
    visibility: visible;
    opacity: 1;
}
